body{
    background-image: url(Imagenes/RLbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.perfil{
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, alpha);
    color: white;
}

.editar{
    background: #222A3F;
    padding: 10px;
    font-size: 16px;
    font-weight: 700!important;
    color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.458);
    transition: 0.5s ease-in;
}