body{
    background-image: url(Imagenes/Link.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.text{
    text-align: center;
    color: white;
}
